{% extends "champs/base.html" %}

{% block title %}F1 info - All seasons{% endblock %}

{% block content %}
<div class="card-block">
<table class="table table-bordered table-sm">
    <thead>
        <tr class="thead-inverse table-sm">
            <th colspan="{{ rows.0|length }}" class="text-center">
                Championship Seasons
            </th>
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
        {% for year in row %}
            <td class="text-center">
                <a href="{% url 'champs:champ' year %}">
                    {{ year }}
                </a>
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
